body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #d28248;
}
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&display=swap');
.topnav a {
  line-height: 20px;
  float: left;
  color: black;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 10px;
}
.submenu:hover{
  background-color:aliceblue;
}


.menu{
    font-family: 'Times New Roman', Times, serif;  
    border: 2px solid gainsboro;
    background-color: aliceblue;
    border-radius: 80px;
    margin: 5px;
}
.menu:hover {
  background-color: #d28248;
}

.logoimg{
  float: left;
  height: 80px;
  width: 140px;
  padding-top: 10px;;
  margin: 0;
  margin-left: 70px;
}

.nav .topnav a:hover {
  border-bottom: 10 px solid black;
}


.topnav .icon {
  display: none;
}

.backgroundvideo {
  width: 98.7vw;
  height: 620px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  }

.videotxt {
    margin-left: 20px;
    color: #4b4f50;
    font-family:'Exo 2', sans-serif; ; 
    font-size: 50px;
    padding: 60px;
    padding-top: 130px;
    padding-bottom: 5px;
    letter-spacing: 3px;

}

#loginbutton{
  position: absolute;
  text-align: center;
  font-size: 25px;
  width: 200px;
  padding: 10px;
  border: 2px solid white;
  border-radius: 50px;
  background-color: white;
  margin-left: 70px;
  
}
a{
  text-decoration: none;
  color: black;
  font-family: 'Times New Roman', Times, serif; 

}
#loginbutton:hover{
  border-bottom: 5px solid black;
}

.footer{
  padding-top: 300px;
  border: 0px solid #e0dbd8;

}
.bottom
{

  background-color: rgb(12, 12, 19);
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.sublist{
  padding: 0px;
  letter-spacing: 1px;
  line-height: 25px;
  display: block;
  font-size: 15px;
  box-sizing: content-box;
  width: 700px;
  margin: 10px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding-top: 10px;
    }
   .topnav.responsive .logoimg{

      padding-bottom: 50px;
  
    }


  }

@media screen and (max-width: 600px) {
  .topnav a {
    line-height: 20px;
    float: left;
    color: black;
    padding: 4px 20px;
    text-decoration: none;
    font-size: 17px;
    margin-top: 10px;
  }
  .backgroundvideo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    }
  
  .videotxt {
      margin-left: 10px;
      color: #4b4f50;
      font-family:'Exo 2', sans-serif; ; 
      font-size: 25px;
      padding: 10px;
      padding-top: 20px;
      padding-bottom: 2.5px;
      letter-spacing: 1.5px;
  
  }
  .logoimg{
    height: 40px;
    width: 70px;
    margin: 5px;

  }

  .menu{
    font-family: 'Times New Roman', Times, serif;  
    border: 2px solid gainsboro;
    background-color: aliceblue;
    border-radius: 40px;
    width: 150px;
    margin: 5px;
    margin-left: 35px;

}
.submenu:hover{
   border-radius: 5px;
   width: 100px;
   margin: 10px;
   margin-left: 60px;
}
.menu:hover {
  background-color: #d28248;
}


  #loginbutton{
    position: absolute;
    text-align: center;
    font-size: 12.5px;
    width: 100px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 25px;
    background-color: white;
    margin-left: 20px;
    
  }
  #loginbutton:hover{
    border-bottom: 2.5px solid black;
  }
  .footer{
    padding-top: 50px;
    border: 0px solid #e0dbd8;
  
  }
  .bottom
  {
    background-color: rgb(12, 12, 19);
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .sublist{
    letter-spacing: 1px;
    line-height: 10px;
    padding: 0px;
    display: block;
    font-size: 5px;
    box-sizing: content-box;
    width: 700px;
    margin: 5px;
    text-align: justify;
  }
}